<!DOCTYPE html>
<html>
<head>
  <title>BeltReview</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if current_user %>
	<style type="text/css">
		.navbar-inverse{
			border-radius:0px;
			padding-left: 70px;
			padding-right: 70px;
			}
	</style>
		<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/events">Event Dashboard</a>
	    </div>
	    <!-- <ul class="nav navbar-nav">
	      <li><a href="#">Page 1</a></li>
	      <li><a href="#">Page 2</a></li>
	    </ul> -->
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="/users/<%= current_user.id %>/edit">Edit User</a></li>
	      <li><a href="/sessions/<%=current_user.id%>" data-method="DELETE">Log Out</a></li>
	    </ul>
	  </div>
		</nav>
	<% end %>
	<% if flash[:errors] %>
	  <% flash[:errors].each do |e| %>
	    <%= e %>
	  <% end %>
	<% end %>

	<%= yield %>
</body>
</html>
